:root {
    --BLACK: #2F2E41;
    --LAVENDER: #FFEEEE;
    --VIOLET: #B40572;
    --BLUE: #218380;


    --PLANSZAPPKA: #19535F;
    --PLANSZAPPKA-LIGHT: #29889C;

    /*--PLANSZAPPKA: #5E4352;*/
    /*--PLANSZAPPKA-LIGHT: #765466;*/


    /*--WELLBEEING: #82a6b1;*/
    /*--WELLBEEING-LIGHT: #b1c8ce;*/

    /*--WELLBEEING: #5E4352;*/
    /*--WELLBEEING-LIGHT: #765466;*/

    --WELLBEEING: #C99914;
    --WELLBEEING-LIGHT: #eab72a;
}