:root {
    --BLACK: #2F2E41;
    --LAVENDER: #FFEEEE;
    --VIOLET: #B40572;
    --BLUE: #218380;
    --PLANSZAPPKA: #19535F;
    --PLANSZAPPKA-LIGHT: #29889C;

    --WELLBEEING: #82a6b1;
    --WELLBEEING-LIGHT: #b1c8ce;
}